@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&family=Noto+Serif+Georgian&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;900&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

body,
#root {
  width: 100%;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.5px;
}
